.outOfStock{
    padding: 20px;
    display: flex;
    text-align: start;
    border-bottom: 1px solid #EDEDED;
    >p{
        img{
            border-radius: 1px;
            width: 30px;
        }
        font-weight: 500;
        font-size: 14px;
        font-family: Monsterrat;
        line-height: 17.07px;
        width: 250px;
    }
    >p:last-child{
        color: #DF0000;
        text-transform: capitalize;
    }
}
.inStock{
    padding: 20px;
    display: flex;
    text-align: start;
    border-bottom: 1px solid #EDEDED;
    >p{
        img{
            border-radius: 1px;
            width: 30px;
        }
        font-weight: 500;
        font-size: 14px;
        font-family: Monsterrat;
        line-height: 17.07px;
        width: 250px;
    }
    >p:last-child{
        color: #03AC13;
        text-transform: capitalize;
    }
}