.tabledata{
    display: flex;
    flex-direction: column;
    text-align: start;
    div{
        padding: 20px;
        display: flex;
        p{
            width: 270px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
        }
    }
    .instock{
        background: #EDEDED;
        p:last-child{
            color: #DF0000;
        }
    }
    .outofstock{
        background: #ffff;
        p:last-child{
            color: #03AC13;
        }
    }

}