.tabledata{
    display: flex;
    flex-direction: column;
    text-align: start;
    div{
        padding: 20px;
        display: flex;
        p{
            width: 270px;
        }
    }
    .instock{
        background: #EDEDED;
        p:last-child{
            color: #DF0000;
        }
    }
    .outofstock{
        p:last-child{
            color: #03AC13;
        }
    }

}