.dashboard{
    width: 100%;
    .info{
        display: flex;
        gap: 30px;
        padding: 20px;
        margin: auto;
        align-items: center;
        >div{
            background: #ffffff;
            padding: 10px;
            width: 20%;
            border-radius: 20px;
            display: flex;
            text-align: start;
            flex-direction: column;
            h6{
                margin: 2px;
                font-family: monsterrat;
                font-weight: 500;
                font-size: 16px;
            }
            p{
                font-family: Monsterrat;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
            }
        }
    }
    .charts{
        display: flex;
        padding: 20px;
    }
    .tble{
        background: #ffffff;
        margin: 20px;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
            .tableHead{
                display: flex;
                gap: 70%;
                padding: 20px;
                >div{
                    display: flex;
                    text-transform: capitalize;
                    gap: 5px;
                    font-size: 16px;
                    font-family: Monsterrat;
                    font-weight: 600;
                }
                .month{
                    display: flex;
                    background: #ECECEC;
                    margin: auto;
                    padding: 5px;
                    width:5vw;
                    line-height: 20px;
                    border-radius: 10px;
                }
                .filter{
                    display: flex;
                    background: #ECECEC;
                    margin: auto;
                    padding: 5px;
                    border-radius: 10px;
                    height: 4vh;

                }
            }
    }
}