.dateselect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 26px;
    height: 22px;
    gap: 10px;
    position: relative;
    width: 13%;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
        >div:first-child{
            text-align: start;
            display: flex;
            gap: 20px;
            position: absolute;
            span{    
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }
        >div:first-child::after{
            content: '▼';
            cursor: pointer;
        }
        >div:last-child{
            text-align: start;
            margin: auto;
            position: absolute;
            height: 120px;
            width: 100%;
            background: #FFFFFF;
            top: 50px;
            left: 0;
            //border: 1px solid black;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
        }
        div.open{
            display: block;
        }
        div.closed{
            display: none;
        }
}