.thead{
    padding: 20px;
    display: flex;
    text-align: start;
    p{
        font-weight: 500;
        font-size: 14px;
        font-family: Monsterrat;
        line-height: 17.07px;
        color: #5C5C5C;
        width: 270px;
    }
}