.addproducts{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    padding: 20px 120px;
    margin: 10px 35px;
    >div:first-child{
        display: flex;
        padding: 12px;
        gap: 20px;
        >button{
            width: 80px;
            height: 80px;
            padding: 0 20px;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            >div{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        >input{
            background: transparent;
            border: none;
            border-bottom: 1px dotted rgb(0, 0, 0);
            height: 27px;
            margin-top: 30px;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            font-family: 'Monsterrat';
            line-height: 17.07px;
        }
    }
    >div:nth-child(2){
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 20px;
        >h3{
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            font-family: 'Monsterrat';
            line-height: 17.07px;
        }
        >div{
            display: flex;
            flex-direction: column;
            gap: 30px;
            //padding: 10px 0;
            align-items: flex-start;
            >div{
                display: flex;
                gap: 30px;
                width: 50vw;
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    >p{
                        font-family: 'Monsterrat';
                        font-size: 13px;
                        font-weight: 500;
                        text-align: start;
                        line-height: 15.85px;
                        color: #5C5C5C;
                    }
                    >input{
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        width: 100%;
                        height: 46px;
                        padding: 5px;
                        font-family: 'Monsterrat';
                        font-size: 13px;
                        font-weight: 500;
                        text-align: start;
                        line-height: 15.85px;
                        color: #5C5C5C;
                    }
                }
                .biginput{
                    height: 300px;
                    >input{
                        height: 100%;
                    }
                }
            }
        }
    }
    >div:last-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        >h3{
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            font-family: 'Monsterrat';
            line-height: 17.07px;
        }
        >div{
            display: flex;
            gap: 20px;
            >button{
                width: 120px;
                height: 120px;
                border: 1px dotted #5542F6;
                border-radius: 10px;
                background: #FFFFFF;
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #5542F6;
                    gap: 5px;
                    font-family: 'monsterrat';
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 12.99px;
                }
            }
        }
        >button{
            width: 270px;
            height: 42px;
            border-radius: 10px;
            border: none;
            background: #5542F6;
            color: #FFFFFF;
            font-size: 13px;
            font-family: 600px;
            font-family: 'Montserrat';
        }
    }
}